{% extends "base_generic.html" %}

{% block content %}
<div id="main-content">
<div id="stylized" class="mainstuff">

Our business was established in 1991 by Elisa Felix. 
Today, she still carries the same hard working spirit that made Temeku-Cleaning so successful then. At Temeku-Cleaning we believe in long lasting relationships.
<br> <br>

In years of service we have provided to the residential community, we have been introduced to new families.  We have seen many a families grow and branch out tostart their own families. 
<br><br>

We've seen small local community start up business turn into larger operations.  And  have been thier single source provider for keeping the work area and overall appearance clean and presentable.  Our experience and reliableity in our action speaks much louder than words.
<br>
<br>

Mrs Felix's core values that she set forth in 1991 are in integral part of everything we do :
<br><br>
<ul class=square>
<li>
Cleaning is an art
</li>
<li>
Clean as if an artist works on her artwork
</li>
<li>
Do not wait for customer to correct you. If you are not sure about your work, do it again
</li>
<li>
If you can not see your face in the shiny surface, it aint clean yet.
</li>
<li>
Whenever in doubt, remember: Cleanliness is next to Godliness
</li>
</ul>
<br><br>

Call us for or <a>contact us now</a> free estimate and leave the cleaning to our skilled staff

</div>
</div>

{% endblock %}
