{% extends "base_generic.html" %}

{% block content %}

<div id="main-content">
<div id="stylized" class="mainstuff">
<div id="stylizedf" class="myform">

<form id="form" name="form" method="post">
	{% csrf_token %}
	<h1>Contact Form</h1>

	<p>Please provide us with your contact information</p>

	<label>Name
	<span class="small"></span>
	</label>

	<input type="text" name="contact_name" id="contact_name" value="">

	<label>Phone
	<span class="small">Best number to call you at</span>
	</label>

	<input type="text" name="phone" id="phone" value="">

	<label>Time preference
	<span class="small">Best time to call you</span>
	</label>

	<input type="text" name="time_preference" id="time_preference" value="">

	<button name=submit type="submit">Submit</button>
	<div class="spacer"></div>

	</form>
</div>


<br><br>
<center> 951.691.7640 | cleaning@temekucleaning.com </center>
<br><br>
</div>
</div>

{% endblock %}
