{% extends "base_generic.html" %}
{% block subheader %}
<div id="sub-header">
        <h2>Temeku Cleaning</h2>
  <p>If you are looking for someone to clean your home, you can count on us. We specialize in cleaning homes and can perform our cleaning service, weekly, bi-weekly or monthly. Performing the below tasks each visit: </p>

</div>
{% endblock %}


{% block content %}
<div id="main-content">
    <div id="stylized" class="mainstuff">
      
        <h4>Bathrooms</h4>
        <ul>
            <li>Sinks cleaned and disinfected</li>
            <li>Mirrors and chrome fixtures cleaned and shined</li>
            <li>Countertop cleaned and polished</li>
            <li>Showers (tiles, tracks and doors) cleaned and disinfected</li>
            <li>tubs (inside, outside and top) cleaned and disinfected</li>
            <li>toilets</li>
            <li>cabinet fronts wiped down</li>
            <li>floors vacuumed and washed</li>
          </ul><br>

          <h4>kitchen</h4>
          <ul>
            <li>Sinks scrhbbed and disinfected</li>
            <li>Microwave (in and out) cleaned</li>
            <li>Stove cleaned</li>
            <li>Countertop, small appliances cleaned and polished</li>
            <li>Outside of oven cleaned</li>
            <li>Outside of dishwater cleaned</li>
            <li>refrigerators(top and front) cleaned</li>
            <li>floors vacuumed and washed</li>
          </ul><br>

          <h4>All other rooms</h4>
          <ul>
            <li>Cobwebs removed</li>
            <li>Blinds, windows sills dusted or washed if necessary</li>
            <li>Picture frames, light fixtures dusted</li>
            <li>Furniture dusted and polished</li>
            <li>Mirrors cleaned and shined</li>
            <li>glass tables polished</li>
            <li>Baseboards dusted</li>
            <li>Carpet vacuumed</li>
          </ul><br>

          <h4>Extra tasks</h4>
          <ul>
            <li>Cleaning inside of refrigerators</li>
            <li>Washing baseboards, shutters and blinds, ceiling fans</li>
            <li>Vacuuming furniture</li>
            <li>Polishing kitchen cabinets</li>
            <li>Sweep a patio</li>
          </ul>        
          </div>
        </div>    
{% endblock %}




  
