{% extends "base_generic.html" %}

{% block content %}
<div id="main-content">
    <div id="stylized" class="mainstuff">
        <ul class=square>
            <li>
            We stand  by all of our services with a 100% Satisfaction Guarantee
            </li>
            <li>
            We treat our  customer as family and because of that reason we will clean your home/  business as if it were our own
            </li>
            <li>
            We understand your unique needs and our goal is to provide you and your family with more reliable and flexible services
            </li>
            </ul>
    </div>
</div>
{% endblock %}
