{% extends "base_generic.html" %}

{% block content %}
<div id="main-content">
<div id="stylized" class="mainstuff">


As a locally owned business we manage slightly different than other providers. We don't brag about what we do we prove it to you. See the difference is that if we promise to treat you like family that means our services will be unique for each one of our customers. Just like every member of our family has particular needs, we adapt to your situation.
<br><br>
We will assign a specific Maid/ Janitor who has gone through a background check prior to being hired. Also, the same maid/janitor will be assigned to you each visit. For commercial services we assign a team of 2-3, depending on the size of the building. For housekeeping services we assign only 1 maid to you. We stick to your needs so we schedule our visits at a specific time that fits your circumstances . If you need to reschedule? Don't worry, simply give us a phone call and we will be more then happy to change the date for you. Our fees are based on the size of your house/ building not hourly rate.
<br><br>
We are fully bonded and insured.
<br> <br>
We bring all of our own supplies to your home, unless you would like to provide us with something you prefer.
<br>
We have appointment availability Daily, weekly, bi-weekly* and monthly including evenings and holidays.
<br><br><br>

*Discounts applied when weekly or bi-weekly. 


</div>
</div>


{% endblock %}
