{% extends "base_generic.html" %}
{% block subheader %}
<div id="sub-header">
        <h2>Temeku Cleaning</h2>
  <p>If you are looking for someone to clean your office, you can count on us. We can perform our cleaning service weekly where we will be performing the below tasks each visit: </p>

</div>
{% endblock %}


{% block content %}
<div id="main-content">
    <div id="stylized" class="mainstuff">
      
        <h4>Bathrooms</h4>
        <ul>
            <li>Sinks cleaned and disinfected</li>
            <li>Mirrors and chrome fixtures cleaned and shined</li>
            <li>Countertop cleaned and polished</li>
            <li>Showers (tiles, tracks and doors) cleaned and disinfected</li>
            <li>tubs (inside, outside and top) cleaned and disinfected</li>
            <li>toilets</li>
            <li>cabinet fronts wiped down</li>
            <li>floors vacuumed and washed</li>
          </ul><br>

          <h4>kitchen</h4>
          <ul>
            <li>To be added</li>
          </ul><br>

          <h4>Other</h4>
          <ul class="list">
            <li>To be added</li>
            </ul><br>
        </div>
      </div>
{% endblock %}




  
